@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100vh;
}

.hamburger-menu {
  position: fixed;
  z-index: 2;
  background-color: #ff4dff;
  width: 360px;
  height: 100%;
  -webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateX(360px);
          transform: translateX(360px);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -ms-touch-action: none;
      touch-action: none;
  visibility: hidden;
}

.hamburger-menu .menu-links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  width: 360px;
  padding: 0 15px;
  top: 200px;
}

.hamburger-menu .menu-links .menu-main-link {
  font-family: 'Patrick Hand', cursive;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.hamburger-menu .menu-links .menu-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
}

.hamburger-menu .menu-links .menu-input-container .menu-input {
  width: 105px;
  border: 1px solid black;
  font-size: 20px;
}

.hamburger-menu .menu-links .menu-input-container .search-button {
  height: 26px;
  padding: 0 10px;
  border: 1px solid black;
  cursor: pointer;
}

.hamburger-menu .menu-links .menu-secondary-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 180px;
  font-family: sans-serif;
}

.hamburger-menu .menu-links .menu-secondary-links-container a {
  color: white;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.hamburger-menu .menu-links .menu-secondary-links-container a:active {
  color: #f2b0ff;
}

.navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
}

.navigation-bar .burger-container {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40px;
  right: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.navigation-bar .burger-container .burger {
  height: 2px;
  width: 20px;
  background-color: black;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.navigation-bar .burger-container .burger::after,
.navigation-bar .burger-container .burger::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: black;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.navigation-bar .burger-container .burger::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.navigation-bar .burger-container .burger::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.navigation-bar .burger-container.open .burger {
  background: transparent;
}

.navigation-bar .burger-container.open .burger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation-bar .burger-container.open .burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigation-bar .burger-container.close .burger {
  visibility: visible;
}

.navigation-bar .burger-container.close .burger::before {
  -webkit-transform: rotate(0deg) translateY(-8);
          transform: rotate(0deg) translateY(-8);
}

.navigation-bar .burger-container.close .burger::after {
  -webkit-transform: rotate(0deg) translateY(8);
          transform: rotate(0deg) translateY(8);
}

.navigation-bar .header-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffa1ff;
}

.navigation-bar .header-title-container .header-logo {
  height: 80px;
}

.navigation-bar .header-title-container .header-name {
  font-family: 'Patrick Hand', cursive;
  font-size: 36px;
}

.navigation-bar .header-title-container .header-store {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: lighter;
}

.navigation-bar .navigation-bar-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 35px;
  visibility: hidden;
}

.navigation-bar .navigation-bar-links-container .navigation-bar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  padding: 0 10px;
  font-family: sans-serif;
  font-weight: lighter !important;
}

.navigation-bar .navigation-bar-links-container .navigation-bar-links a {
  text-decoration: none;
  color: #3b3b3b;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation-bar .navigation-bar-links-container .navigation-bar-links a:hover {
  color: #ff4dff;
}

.navigation-bar .navigation-bar-links-container .navigation-search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
}

.navigation-bar .navigation-bar-links-container .navigation-search-bar input {
  height: 26px;
  width: 214px;
  border: 1px solid black;
  font-size: 16px;
  padding: 0 3px;
  outline: none;
}

.navigation-bar .navigation-bar-links-container .navigation-search-bar .search-button {
  height: 26px;
  padding: 0 10px;
  border: 1px solid black;
}

.home-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  background: #ffe4ff;
  background: radial-gradient(circle, #ffb7ff 0%, #ff4cff 100%);
}

.home-banner .banner-image {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 5px;
  height: 150px;
}

.home-banner .banner-shadow {
  position: absolute;
  top: 143px;
  left: 5px;
  height: 20px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}

.home-banner .banner-text {
  width: 150px;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 30px;
  color: white;
}

.info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-section .info-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
}

.info-section .info-summary .summary-title {
  width: 270px;
  text-align: center;
  font-size: 28px;
  font-family: 'Patrick Hand', cursive;
  color: #ffa1ff;
}

.info-section .info-summary .summary-text {
  padding: 0 1px;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.info-section .features-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-section .features-section .feature-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  padding: 20px 0;
}

.info-section .features-section .feature-1 .feature-1-icon {
  color: #3b3b3b;
}

.info-section .features-section .feature-1 .feature-1-title {
  width: 270px;
  text-align: center;
  font-size: 26px;
  font-family: 'Patrick Hand', cursive;
  color: #ffa1ff;
}

.info-section .features-section .feature-1 .feature-1-text {
  padding: 0 1px;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.info-section .features-section .feature-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  padding: 20px 0;
}

.info-section .features-section .feature-2 .feature-2-icon {
  color: #3b3b3b;
}

.info-section .features-section .feature-2 .feature-2-title {
  width: 270px;
  text-align: center;
  font-size: 26px;
  font-family: 'Patrick Hand', cursive;
  color: #ffa1ff;
}

.info-section .features-section .feature-2 .feature-2-text {
  padding: 0 1px;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.info-section .features-section .feature-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  padding: 20px 0;
}

.info-section .features-section .feature-3 .feature-3-icon {
  color: #3b3b3b;
}

.info-section .features-section .feature-3 .feature-3-title {
  width: 270px;
  text-align: center;
  font-size: 26px;
  font-family: 'Patrick Hand', cursive;
  color: #ffa1ff;
}

.info-section .features-section .feature-3 .feature-3-text {
  padding: 0 1px;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.info-section .features-section .feature-button {
  height: 33px;
  width: 150px;
  background-color: #ffb2ff;
  border: 2px solid #ffb2ff;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: .9px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.info-section .features-section .feature-button:hover {
  color: white;
}

.adoption-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adoption-section .adoption-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 100px;
}

.adoption-section .adoption-input-container input {
  height: 26px;
  width: 115px;
  border: 1px solid black;
  padding: 0 4px;
  font-size: 16px;
  outline: none;
}

.adoption-section .adoption-input-container button {
  height: 26px;
  padding: 0 7px;
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
}

.adoption-section .adoption-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 800px;
  gap: 10px;
}

.adoption-section .adoption-container .dog-info-container {
  position: relative;
  width: 165px;
  height: 260px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.adoption-section .adoption-container .dog-info-container .dog-image {
  position: absolute;
  top: 0;
  height: 90%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 7px;
}

.adoption-section .adoption-container .dog-info-container .dog-info {
  z-index: 1;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90px;
  width: 165px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #ff4cff;
  color: white;
}

.adoption-section .adoption-container .dog-info-container .dog-info .dog-name {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
}

.adoption-section .adoption-container .dog-info-container .dog-info .dog-adult-breed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  font-family: sans-serif;
  font-size: 12px;
}

.adoption-section .adoption-container .dog-info-container .dog-info .dog-adult-breed .dog-age {
  width: 65px;
}

.adoption-section .adoption-container .dog-info-container .dog-info .dog-adult-breed .dog-breed {
  text-align: end;
  overflow: hidden;
  white-space: nowrap;
  width: 65px;
  text-overflow: ellipsis;
}

.adoption-section .adoption-container .dog-info-container .dog-info .dog-distance {
  font-family: sans-serif;
  font-size: 14px;
}

.information-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 600px;
  padding: 0 10px;
  font-family: sans-serif;
}

.information-section .breed-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
}

.information-section .breed-input-container input {
  height: 27px;
  width: 226px;
  padding: 0 3px;
  border: 1px solid black;
  font-size: 15px;
}

.information-section .breed-input-container button {
  border: 1px solid black;
  padding: 3px 6px;
}

.information-section .breed-input-container button i {
  font-size: 18px;
}

.information-section .breed-selection-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  height: 25px;
  width: 300px;
}

.information-section .breed-selection-container label {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
}

.information-section .breed-selection-container select {
  border: 1px solid black;
  font-size: 16px;
  font-family: sans-serif;
}

.information-section .breed-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 520px;
}

.information-section .breed-info-container .breed-image {
  height: 200px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.information-section .breed-info-container .breed-info tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 15px;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #ffa1ff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.information-section .breed-info-container .breed-info tbody .breed-info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 99%;
  width: 110px;
  padding-left: 10px;
}

.information-section .breed-info-container .breed-info tbody .breed-info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 99%;
  width: 230px;
  padding-left: 10px;
}

.information-section .breed-info-container .breed-info tbody .breed-info-right .temperment {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.information-section .breed-info-container .breed-info tbody .breed-info-right .temperment-tooltip {
  display: none;
}

.information-section .breed-info-container .breed-info tbody .breed-info-right .temperment:hover + .temperment-tooltip {
  visibility: visible;
}

.information-section .breed-info-container .breed-info tbody .breed-info-right .bred-for {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 547px;
}

.form-section .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%px;
  font-family: 'Oswald', sans-serif;
}

.form-section .form-container .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffe3fe;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  height: 450px;
  width: 520px;
  border: 2px solid black;
  padding: 0 10px;
}

.form-section .form-container .contact-form .form-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-section .form-container .contact-form .form-containers label {
  font-size: 18px;
  letter-spacing: 1px;
}

.form-section .form-container .contact-form .form-containers input {
  font-size: 14px;
  width: 500px;
}

.form-section .form-container .contact-form .form-containers h3 {
  font-size: 16px;
  font-weight: lighter;
  color: red;
  visibility: hidden;
}

.form-section .form-container .contact-form .form-containers textarea {
  width: 500px;
  font-size: 16px;
}

.form-section .form-container .contact-form .form-submit-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding: 0 20px;
  border: 1px solid #636363;
  border-radius: 4px;
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ff4cff;
  height: 180px;
  width: 100%;
  font-family: sans-serif;
  color: white;
}

.footer-section .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 8px;
  font-family: sans-serif;
  letter-spacing: .9px;
}

.footer-section .contact-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 55px;
}

.footer-section .contact-socials .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
}

.footer-section .contact-socials .socials .social-icon {
  font-size: 18px;
  cursor: pointer;
}

.footer-section .contact-socials .trademark {
  font-size: 14px;
}

@media screen and (min-width: 515px) {
  .adoption-input-container {
    width: 400px !important;
  }
  .adoption-input-container input {
    width: 150px !important;
  }
  .adoption-container {
    height: 2300px !important;
  }
  .information-section {
    height: 750px;
  }
  .information-section .breed-info-container {
    height: 615px;
    width: 450px;
  }
  .information-section .breed-info-container .breed-info {
    width: 100%;
  }
  .breed-image {
    height: 300px !important;
  }
}

@media screen and (min-width: 620px) {
  .hamburger-menu {
    width: 620px;
    height: 100%;
    -webkit-transform: translateX(620px);
            transform: translateX(620px);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -ms-touch-action: none;
        touch-action: none;
    visibility: hidden;
  }
  .hamburger-menu .menu-links {
    width: 620px;
  }
  .banner-text {
    width: 450px !important;
    font-size: 40px !important;
  }
}

@media screen and (min-width: 690px) {
  .adoption-input-container {
    width: 450px !important;
  }
  .adoption-input-container input {
    width: 170px !important;
  }
  .adoption-container {
    height: 1600px !important;
  }
  .breed-info-container {
    width: 580px !important;
  }
  .breed-info-container .breed-info {
    width: 100%;
  }
}

@media screen and (min-width: 865px) {
  .dog-info-container {
    width: 195px !important;
    height: 290px !important;
  }
  .dog-info-container .dog-image {
    height: 90%;
  }
  .dog-info-container .dog-info {
    width: 195px !important;
  }
  .dog-info-container .dog-info .dog-name {
    font-size: 24px !important;
  }
  .dog-info-container .dog-info .dog-adult-breed {
    font-size: 14px !important;
  }
  .dog-info-container .dog-info .dog-distance {
    font-size: 16px !important;
  }
  .information-section {
    height: 550px;
  }
  .information-section .breed-info-container {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    width: 800px !important;
    height: 300px !important;
  }
  .information-section .breed-info-container .breed-info {
    width: 60% !important;
  }
  .information-section .breed-info-container .breed-info .breed-info-left {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
  }
}

@media screen and (min-width: 960px) {
  .burger-container {
    display: none !important;
  }
  .banner-image {
    left: 70px !important;
  }
  .banner-shadow {
    left: 70px !important;
  }
  .banner-text {
    width: 550px !important;
    font-size: 50px !important;
  }
  .navigation-bar-links-container {
    visibility: visible !important;
  }
  .breed-input-container {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .summary-title {
    width: 430px !important;
    font-size: 40px !important;
  }
  .features-section {
    width: 100%;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .information-section {
    height: 550px;
    padding-bottom: 30px;
  }
  .information-section .breed-info-container {
    width: 1100px !important;
  }
  .information-section .breed-info-container .breed-info {
    width: 100%;
  }
  .information-section .breed-info-container .breed-info tbody {
    height: 400px;
  }
  .breed-image {
    height: 400px !important;
  }
}

@media screen and (min-width: 1220px) {
  .adoption-container {
    width: 1220px !important;
  }
}

@media screen and (min-width: 1440px) {
  .adoption-container {
    width: 1440px !important;
    gap: 0 30px !important;
  }
  .information-section {
    height: 550px;
    padding-bottom: 30px;
  }
  .information-section .breed-info-container {
    width: 1400px !important;
  }
  .information-section .breed-info-container .breed-info tbody {
    font-size: 20px;
  }
  .information-section .breed-info-container .breed-info-left {
    width: 150px !important;
  }
  .information-section .breed-info-container .breed-info-right {
    width: 600px !important;
  }
}

@media screen and (min-width: 1920px) {
  .home-banner {
    height: 400px;
  }
  .home-banner .banner-image {
    left: 120px !important;
    height: 370px;
  }
  .home-banner .banner-shadow {
    top: 320px !important;
    left: 90px !important;
    height: 60px;
    width: 300px;
  }
  .home-banner .banner-text {
    width: 1000px !important;
    font-size: 90px !important;
  }
  .features-section {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    width: 100% !important;
  }
  .information-section {
    height: 800px;
  }
  .information-section .breed-info-container {
    width: 1700px !important;
    height: 600px !important;
  }
  .information-section .breed-info-container .breed-info {
    width: 100%;
    font-size: 20px;
  }
  .information-section .breed-info-container .breed-info tbody {
    height: 500px;
  }
  .information-section .breed-info-container .breed-info .breed-info-left {
    width: 200px;
  }
  .information-section .breed-info-container .breed-info .breed-info-right {
    width: 500px;
  }
  .breed-image {
    height: 500px !important;
  }
}
/*# sourceMappingURL=index.css.map */